In [387]:
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine
from IPython.display import clear_output

In [388]:
cnx = 'postgresql://postgres:admin@localhost/multa'
sqlalchemy.create_engine(cnx)
con = pg.connect(host='localhost', dbname= 'multa', user='postgres', password='admin')
output = widgets.Output()

In [389]:

combobox_menu = widgets.Dropdown(
    placeholder='Escolha uma opção',
    options=[
    ('Selecione uma opção', 0),
    ('Listar automóveis e quantas multas cada um tem', 1),
    ('Quantas vezes cada infração ocorreu', 2),
    ('Listar proprietarios e seus automoveis', 3),
    ],
    ensure_option=False,
    disabled=False
)

In [390]:
def get_automovel_multas():
    clear_output()
    query =  pd.read_sql("select * from automovel_mutas", cnx)  
    display(combobox_menu, query)

def get_infracaoes_recorrencias():
    clear_output()
    query = pd.read_sql("select i.descricao, ir.count as quantidade from infracoes_recorrencias ir join infracao i on i.id = ir.id_infracao", cnx)
    display(combobox_menu, query)
    

def get_proprietario_automoveis():
    clear_output()
    query = pd.read_sql("SELECT p.nome, pa.placa FROM proprietario_automoveis pa JOIN proprietario p on p.id = pa.id", cnx)
    display(combobox_menu, query)

In [391]:
def mudar_consulta(b):
    value = combobox_menu.value
    if value == 1:
        get_automovel_multas()
    elif value == 2:
        get_infracaoes_recorrencias()
    elif value == 3:
        get_proprietario_automoveis()
    else: 
        clear_output()
        display(combobox_menu)

In [392]:
combobox_menu.observe(mudar_consulta)

In [393]:


display(combobox_menu)

Dropdown(index=3, options=(('Selecione uma opção', 0), ('Listar automóveis e quantas multas cada um tem', 1), …

              nome    placa
0          Anthony  GZP8610
1            Bento  JYV7988
2            Diogo  MPK8169
3            Elias  LVX9866
4           Enrico  MMP4457
5        Guilherme  JYW1596
6            Ícaro  LMW4224
7            Josué  MVH1083
8            Josué  HWF1988
9  Lorenzo Gabriel  HVG6817